---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title="Klassiker">

<p>
  <span class="badge">5.5 km</span>
  <span class="badge">+660 Hm</span>
  <span class="badge">Intermediate</span>
</p>

<hr />

<h2>Start</h2>
<p><strong>18:30 – Linthal Braunwaldbahn</strong></p>

<h2>Highlights</h2>
<ul>
  <li>Direkter Start im Tal</li>
  <li>Konstanter Aufstieg</li>
  <li>Schöne Naturwege</li>
  <li>Ziel: Hüttenberg</li>
</ul>

<h2>Charakter</h2>
<ul>
  <li>🔴 Kondition: mittel–hoch</li>
  <li>🟢 Technik: einfach</li>
  <li>🔵 Erlebnis: klassischer Berglauf</li>
</ul>

<h2>GPX</h2>
<a href="/der_klassiker">Download GPX</a>

<h2>Karte</h2>
<iframe
  src="https://map.geo.admin.ch/embed.html?..."
  height="400"
  style="width:100%; border-radius:12px;"
></iframe>

</BaseLayout>