.image-wrapper {
  margin-top: 1rem;
  text-align: center;
}

.clickable {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  cursor: zoom-in;
  transition: transform 0.2s ease;
}

.clickable:hover {
  transform: scale(1.02);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}

.modal img {
  max-width: 95%;
  max-height: 90%;
  border-radius: 12px;
}


/* BADGE CONTAINER */
.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

/* BADGE */
.badge {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;

  font-size: 0.85rem;
  font-weight: 600;

  background: #f3f4f6;
  color: #333;

  border: 1px solid rgba(0,0,0,0.05);
}

.race-stats {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.race-stats li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}