---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Über uns">
  <h3>Geschichte</h3>
  <p>
    Der Glarner Berggeiss Lauf wurde erstmals 2020 durch den Verein Glarner Berggeiss 
    durchgeführt. Die Gründer des Laufes, Simone Fenk und Reto Spielhofer haben 
    mittlerweile die Verantwortung an Tamara Kamm und Marcel Ott weitergegeben. In enger Zusammenarbeit
    mit einem tatkräftigen OK wird die Glarner Berggeiss jeweils als Freitagabend Lauf im Spätsommer
    ausgetragen. Dabei ermöglichen zahlreiche Helfende aus verschiedensten Sparten sowie viel 
    Goodwill der lokalen Betriebe und Behörden die Durchführung dieses familiären Events. Die spektakuläre Glarner
    Bergkulisse trägt den Rest zu einem tollen Lauferlebnis bei.
  </p>

  <h3>Nachhaltigkeit</h3>
  <p>
    Die Glarner Berggeiss hat sich zum Ziel gesetzt sich stetig zu verbessern und aus vergangenen Anlässen
    zu lernen. Das <a href="https://app.eventkit.ch/events/2701b93e-c2ea-4760-91cd-39e28fa4196a">Nachhaltigkeitskonzept</a> ist dabei ein wichtiges Instrument und soll Transparenz
    gegenüber Sponsoren und Teilnehmenden im Bereich Umwelt, Finanzen und Sozialem schaffen. Damit die
    Glarner Berggeiss auch zukünftig Läuferinnen und Läufer begeistert.
    
  </p>


  <h3>Training</h3>
  <p>

  Bereite dich auf auf unseren <a href="https://glarnerlaufcup.ch/trophy26/"> GRB Trophy</a>Strecken auf die Läufe des Glarner Laufcups vor.
  
  </p>

<h3>Kontakt & Newsletter</h3>
  <p>
    <strong>
      <a href="mailto:glarnerberggeiss@bluewin.ch">
        glarnerberggeiss@bluewin.ch
      </a>
    </strong>
  </p>

  <h3>Newsletter Anmeldung</h3>

  <!-- Newsletter iframe -->
  <div class="newsletter">
    <iframe 
      src="https://glarnerlaufcup.ch/newsletter-anmeldung/"
      frameborder="0"
      width: 100%
      scrolling="auto"
      allowfullscreen>
    </iframe>
  </div>

  <!-- Sendinblue styles -->
  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">

  <style>
    .newsletter {
      margin-top: 1.5rem;
      
      justify-content: center;
    }

    iframe {
      width: 100%;
      max-width: 540px;
      height: 305px;
      border: none;
      border-radius: 12px;
    }

    a {
      color: #2563eb;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>

</Layout>