---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ranglisten & Bilder">

  <p>
Hier findest du Rangliste, Bilder und Medienberichte vergangener Austragungen.
  </p>

<h3>Ranglisten</h3>

<h3>Bilder</h3>

<h3>Medien</h3>



  <style>
    .newsletter {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
    }

    iframe {
      width: 100%;
      max-width: 540px;
      height: 305px;
      border: none;
      border-radius: 12px;
    }

    a {
      color: #2563eb;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>

</Layout>